@import url("./reset.css");

.container {
  padding: 90px;
  margin-bottom: 80px;
}

.greeting_text_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.greeting_text {
  width: 50%;
}

.greeting_container h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.video1,
.video2 {
  display: flex;
  justify-content: flex-end;
}
.content_container {
  display: flex;
  justify-content: space-between;
}

.video1 {
  margin-bottom: 30px;
}
.video1 p,
.video2 p {
  width: 360px;
}
.link_container {
  width: 30%;
}
.link_list {
  display: flex;
  flex-direction: column;
}
.link_list a {
  margin-bottom: 15px;
  color: lightgray;
  text-decoration: none;
  transition: 0.3s ease-in-out all;
}
.link_list a:hover {
  color: black;
}
.link_container h1 {
  margin-bottom: 30px;
}
.video_container {
  width: 70%;
}
.video_container p {
  margin-left: 30px;
}
footer {
  background-color: lightgray;
}
footer p {
  color: gray;
  font-size: 12px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 735px) {
  .video1,
  .video2 {
    flex-direction: column;
  }
  .video_container p {
    margin-left: 0;
    margin-top: 15px;
  }
  .youtube {
    width: unset;
  }
  .video1 p,
  .video2 p {
    width: unset;
  }
}
